body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*background-image: url('Images/kiwi.jpg');*/
    /*background: linear-gradient(45deg, rgba(246,125,25,1) 0%, rgba(71,72,73,1) 69%, rgba(2,7,15,1) 100%);*/
    /*background: url('Images/orangish.png') no-repeat center center fixed;*/
    background-color: rgb(250,250,250) !important;
    color: black;
    background-size: cover;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*border: 1px solid black;*/
    /*background: linear-gradient(to right, rgb(219, 148, 6), rgb(183, 178, 168)) !important;*/
    /*background-color: rgba(43,43,43,0.75);*/
    padding-left: 350px;
    padding-right: 25px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#HomePagePanel {
    width: 100%;
    min-height: 250px;
    margin-top: 20px;
}

#HomePanelHeading {
    font-weight: 400;
    font-size: large;
}

.panel {
    border: 1px solid transparent;
    border-radius: 0px;
}

.panel-heading {
    background-color: rgba(175, 177, 181,0.35);
    border-radius: 0px;
}

.panel-body {
    background-color: rgba(212, 215, 219,0.45);
}

.text-upper {
    text-transform: uppercase;
}

.text-lower {
    text-transform: lowercase;
}

footer {
    padding-left: 15px;
}


.top-content-section {
    padding-left: 15px;
    padding-bottom: 10px;
}

#NavButtons {
    padding-left: 50px;
}

.nopad-l {
    padding-left: 0px !important;
}

#NavButtons {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

    #NavButtons ul li {
        display: inline;
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 50px;
        margin-bottom: 50px;
        background-color: rgba(212, 215, 219,0.35);
    }

    #NavButtons ul li:hover {
        cursor: pointer;
    }

.siteLogo {
    margin-bottom: 30px;
}

#HomeImage {
    padding-left: 100px;
    padding-top: 25px;
}