<div class="row col-lg-12">
    <div class="col-lg-6 col-lg-6 col-sm-12">
        <div class="panel" id="HomePagePanel">
            <div class="panel-heading text-upper text-center" id="HomePanelHeading">
                Why choose a private groomer over a chain pet groomer?
            </div>
            <div class="panel-body">
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris rutrum erat tortor, eu elementum nibh molestie quis. Proin et mi et purus pharetra convallis. Etiam luctus pulvinar sollicitudin. Nulla vulputate maximus quam nec iaculis. Integer suscipit efficitur nisl, sit amet feugiat magna fermentum sit amet. Cras molestie, lorem et ullamcorper dapibus, massa risus ornare turpis, in feugiat est lectus ac dui. Fusce sagittis sollicitudin sodales. Pellentesque et magna lorem. Duis hendrerit libero vitae ex ornare laoreet. Ut ultrices ultricies sapien.</p>

                <p>Nunc vitae ultricies orci, id pellentesque nibh. Suspendisse potenti. Fusce mi enim, blandit et vulputate ut, egestas in ante. Vestibulum vitae malesuada magna, sit amet mollis nisl. Praesent et accumsan elit. Curabitur ultrices lacinia eros eu tincidunt. Suspendisse cursus est nunc, in ultricies enim gravida at. In imperdiet facilisis elementum. Suspendisse ullamcorper augue ac diam egestas dapibus. Duis a volutpat elit, eu mattis erat. Nullam rutrum quam ante, sit amet convallis massa blandit eget.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12 " id="HomeImage">
        <img src="~/Content/Images/Dog_grooming_home2.png" />
    </div>

</div>